<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../styles/main.css"></link>
</head>
<body class="bg-slate-900 text-slate-200" id="app">
  <!-- Navigation -->
  <div class="mx-auto static bg-slate-400/75 text-black">
    <footer class="flex ...">
      <!-- Title -->
      <a class="px-1" href="../index.html"><h2 class="nameSite text-3xl object-center">SocialSite!</h2></a>
      <a class="px-5 py-2" href="./views/about.html">About</a>
    </footer>
  </div>
  <div class="relative">
    <img class="h-64 w-full object-none" src="../images/pexels-skylar-kang-6044235.jpg">
    <h2 class="text-3xl centered nameSite">About this page</h2>
  </div>
  <br/>
  <div class="bg-slate-800 rounded-md p-4">
    <br/>
    <p>This is a website to talk and communicate with other!</p>
  </div>
</body>
</html>