<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../styles/main.css"></link>
</head>
<body class="bg-slate-900 text-slate-200" id="app">
  <div class="mx-auto static bg-slate-400/75 text-black">
    <footer class="flex ...">
      <!-- Title -->
      <a class="px-1" href="../index.html"><h2 class="nameSite text-3xl object-center">SocialSite!</h2></a>
      <a class="px-5 py-2" href="./about.html">About</a>
    </footer>
  </div>
  <div class="posts mx-auto px-6">
    <!-- Post Title -->
    <h1 id="title"></h1>
    <!-- Post Description -->
    <p id="desc"></p>
    <img id="imgSrc">
  </div>

  <!-- Comments -->
  <div class="mx-auto px-10" id="commentDiv">

  </div>

  <!-- Add Comments -->
  <div class="addcomments px-4">
    <h3 class="font-bold !font-large">Add Comment</h3>
    <form id="formComment">
      <input type="text" name="addName" class="font-black" id="addName">
      <input type="text" name="addComment" class="font-black" id="addComment">
      <button type="submit">Submit</button>
    </form>
  </div>
  <!-- Script -->
  <script src="../scripts/post.js"></script>
</body>
</html>