@import url('https://fonts.googleapis.com/css2?family=Norican&family=Poppins&display=swap');

.nameSite {
  font-family: 'Norican', cursive;
}

#app {
  font-family: 'Poppins', sans-serif;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}